<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <import class="ch.qos.logback.core.hook.DefaultShutdownHook"/>
    <import class="ch.qos.logback.core.FileAppender"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>


    <appender name="FILE" class="FileAppender">
        <file>app.log</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>[%level] [%d{HH:mm:ss.SSS}%ms] [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="AsyncAppender">
        <queueSize>100000</queueSize>
        <neverBlock>false</neverBlock>
        <maxFlushTime>0</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

    <shutdownHook name="HOOK" class="DefaultShutdownHook">
        <delay>10000</delay>
    </shutdownHook>
</configuration>