<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <import class="ch.qos.logback.core.hook.DefaultShutdownHook"/>
    <import class="ch.qos.logback.core.FileAppender"/>


    <appender name="FILE" class="FileAppender">
        <file>app.log</file>
        <append>false</append>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>[%level] [%d{HH:mm:ss.SSS}%ms] [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ru.varfolomeev.SleepAsyncAppender">
        <queueSize>1000000</queueSize>
        <neverBlock>false</neverBlock>
        <maxFlushTime>0</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

    <shutdownHook class="DefaultShutdownHook"/>
</configuration>